@charset "UTF-8";

* {
    margin: 10PX;
    padding: 10PX;
}

html {

    font-family: 'Courier New', Courier, monospace;
    font-size: 1em;
    line-height: 1.5em;
}

menu {
    display: none;
}

article {
    width: 100%;
}

article::after {
    content: 'Teste';
}